@font-face{
  font-family: 'Jost_400';
  font-weight: 400;
  font-style: normal;
  src:url('../fonts/Jost_400.woff2') format('woff2'),url('../fonts/Jost_400.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Jost_500'; 
  font-weight: 500;
  font-style: normal;
  src:url('../fonts/Jost_500.woff2') format('woff2'),url('../fonts/Jost_500.woff') format('woff');
  font-display: swap;
}
@font-face{
  font-family: 'Caveat_regular';
  font-weight: 400;
  font-style: normal;
  src:url('../fonts/Caveat_regular.woff2') format('woff2'),url('../fonts/Caveat_regular.woff') format('woff');
  font-display: swap;
}